<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wellness_pro">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for Reminders -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" /> <!-- ADDED FOR COMPLETENESS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".WellnessProApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayPal">

        <activity android:name=".NotificationScreen" android:exported="false" />
        <activity android:name=".SetHabitScreen" android:exported="false" />
        <activity android:name=".ProfileScreen" android:exported="false" />
        <activity android:name=".HabitsScreen" android:exported="false" />
        <activity android:name=".navbar.BaseActivity" android:exported="false" />
        <activity android:name=".navbar.BaseBottomNavActivity" android:exported="false" />
        <activity android:name=".DashboardScreen" android:exported="false" />
        <activity
            android:name=".LaunchScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Mood Activities -->
        <activity android:name=".ui.MoodLogActivity" android:exported="false" />
        <activity android:name=".ui.MoodHistoryActivity" android:exported="false" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" />
        <activity android:name=".ui.HydrationActivity" android:exported="false" /> <!-- Ensure this is present -->

        <!-- Reminder Receivers -->
        <receiver
            android:name=".reminders.HydrationAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".reminders.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- App Widget Provider -->
        <receiver android:name=".widgets.TodaysHabitsWidgetProvider" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todays_habits_widget_info" />
        </receiver>

    </application>

</manifest>